/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url("components/banner.css");
@import url("components/cards.css");
@import url("components/container.css");
@import url("components/card.css");
@import url("components/footer.css");
@import url("components/fab.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  opacity: 0.75;
  transition: 0.25s opacity ease-in;
}

/* Custom design below! */
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2:after {
  content: '';
  width: 100%;
  max-width: 10px;
  height: 1px;
  background: #2A2227;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s all ease-out;
}

.text-center {
  text-align: center;
}

ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
}
